<!DOCTYPE html>
<html lang="pt-br">
<head>
<%- include('partials/head.ejs') %>
</head>
<body>
    <h1>Hello world!</h1>
    <%- include('partials/navbar.ejs') %>

    <% if (typeof message !== 'undefined') { %>
        <%= message %>
    <% } %>

    <form action="/register/add" method="POST">
        <div>
            <label for="">Nome</label>
            <input type="text" name="name" placeholder="Digite o seu nome">
        </div>
        <div>
            <label for="">Idade</label>
            <input type="text" name="age" placeholder="Digite a sua idade">
        </div>
        <div>
            <label for="">E-mail</label>
            <input type="text" name="email" placeholder="Digite o seu email">
        </div>
        <div>
            <label for="">Senha</label>
            <input type="text" name="password" placeholder="Digite a sua senha">
        </div>
        <button type="submit">Cadastrar</button>
    </form>

    

    <%- include('partials/foot.ejs') %>
</body>
</html>